@{
    ViewBag.Title = "About The Weekly Activity Report (WAR)";
}

<table style="background-color:#FFFFFF; padding: 5px;width:100%" cellpadding="6" cellspacing="6">
    <tr>
        <td>
            <h2>@ViewBag.Title.</h2>
            <br />
            <br />
            <h3>@ViewBag.Message</h3>

        </td>
    </tr>
    <tr>
        <td align="left" with="100%">

            <p>
            The Department of the Army’s Communications-Electronics Command (CECOM) Software Engineering Center (SEC) 
            currently utilizes the Weekly Activity Report (WAR) manual process for identifying the significant accomplishments 
            completed by lower level projects which are then communicated to upper levels of management and across organizations.    
            </p>
            <p>
             CECOM SEC WAR application allows for the automation and streamline the current manual WAR process reduceing time and effort spent
             on creation, correction/modification, and submission of the WAR report for management review allowing employees to focus on their 
             mission.  
             </p>
             
        </td>
    </tr>
</table>
